#log_graph { height: 500px; width: 100%; display: block; position: relative; }
.pagination li { display: inline; list-style-type: none; padding-right: 20px; }
#tooltip { position: absolute; color: #000; display: none; border: 1px solid #fdd; padding: 2px; background-color: #fee; opacity: 0.7; }
.legend table
{width: 20%;}
legend div {
	width: 20%;
}